body {
  font-family: cursive;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  margin-bottom: 5px;
}

p {
  opacity: 0.9;
}

.card {
  background: rgba(255, 255, 255, 0.15);   /* glass effect */
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  color: #fff; /* text readable on glass */

  max-width: 420px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;

  border: 1px solid rgba(255,255,255,0.2);

  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.45);
}


input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

textarea {
  resize: none;
}

.upload {
  display: block;
  background: #b0a5a5;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
}

.upload input {
  display: none;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  transition: transform 0.2s, box-shadow 0.2s;
}
* {
  box-sizing: border-box;
}


button:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}


canvas {
  width: 320px;
  height: auto;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}
