body {
  font-family: cursive;
  background: linear-gradient(135deg,#a256d5, #5f2c82, #49a09d, #77dfdb);
  min-height: 100vh;
  margin: 0;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 5px;
  font-weight: 600;
}

p {
  opacity: 0.85;
}

/* CARD (Glass Effect) */
.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  max-width: 420px;
  width: 100%;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 15px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0 3px rgba(255,255,255,0.5);
}

/* UPLOAD */
.upload {
  display: block;
  background: rgba(255,255,255,0.25);
  padding: 14px;
  border-radius: 15px;
  margin: 12px 0;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.upload:hover {
  background: rgba(255,255,255,0.35);
}

.upload input {
  display: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(135deg,#ff8679,#eb0784); 
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

* {
  box-sizing: border-box;
}


button:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

/* CANVAS */
canvas {
  width: 320px;
  height: auto;
  border-radius: 25px;
  margin: 20px 0;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}
.hero {
  display: flex;
  flex-direction: column;  /* THIS makes them stack */
  gap: 8px;
  color: white;
}
